@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: url('../image/background.png');
  --foreground: #171717;
  --base-color-font: #636363;
  --primary-color: #A83B24;
  --white-base: #ededed;
  --light-orange: #F2E2DE;
  --super-white: #fff;
  --orange-header-background: #CC5A3F;
  --Gradient-Button: linear-gradient(to bottom,#A83B24,#CC6651);
  --Disable: #ccc;
  --Secondary-E4C2BB: #E4C2BB
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: url('../image/background.png');
    --foreground: #ededed;
  }
} */

html,
body {
  height: 100%;
  touch-action: manipulation;
  font-size: 16px;
}

body {
  color: var(--foreground);
  font-family: var(--font-prompt);
  background-size: auto 100%;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 40px;
  padding: 20px;
}

.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px 25px;
}

p {
  color: var(--base-color-font);
}

/* button {
  margin: 10px;
  width: 100%;
} */

.button-primary {
  color: var(--white-base);
  background-image: var(--Gradient-Button);
  height: 48px;
}
.button-disable {
  color: #fff;
  background-image: var(--Disable-color);
  height: 48px;
}

.button-default {
  color: var(--primary-color);
  background-color: #fff;
  border: 1px solid var(--primary-color);
  height: 48px;
}

.container-login-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  padding-top: 24px;
  background-color: var(--super-white);
  color: var(--primary-color);
  padding-bottom: 20%;
  border-radius: 32px;
}

.header-containner {
  background-color: var(--orange-header-background);
  border-radius: 0 0 30px 30px;
  color: var(--super-white);
}

.container-playing-team {
  padding: 10px;
  border-radius: 7px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.awaiting-team-containner {
  padding: 10px;
  border-radius: 7px;
  background-color: var(--super-white);
  height: 370px;
  overflow-y: auto;
}

.Button_Frame{
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* background-color: #636363; */
  width: 100%;
}