@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: url('../image/background.png');
  --foreground: #171717;
  --base-color-font: #636363;
  --primary-color: #A83B24;
  --white-base: #ededed;
  --light-orange: #F2E2DE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: url('../image/background.png');
    --foreground: #ededed;
  }
}

html, body {
  height:100%;
} 

body {
  color: var(--foreground);
  background-image: var(--background);
  font-family: var(--font-prompt);
  background-size: auto 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 40px;
  padding: 20px;
}

.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px 25px;
}

p {
  color: var(--base-color-font);
}

button {
  margin: 10px;
  width:100%;
}

.button-primary {
  color: var(--white-base);
  background-color: var(--primary-color);
}

.button-default {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.container-login-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--light-orange);
  color: var(--primary-color);
  padding-bottom: 300px;
}
