@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --base-color-font: #636363;
  --primary-color: #A83B24;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-prompt);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 40px;
  padding: 20px;
}

.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 50px;
}

p {
  color: var(--base-color-font);
}

button {
  margin: 10px;
  width:100%;
}

.button-primary {
  color: var(--background);
  background-color: var(--primary-color);
}

.button-default {
  border-color: var(--primary-color);
  color: var(--primary-color);
}
